<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/favicon.ico') }}">
</head>
<body>
    <header>
        <h1>{{ recipe.title }}</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('recipes') }}">Back to Recipes</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="image-and-details-container">
            <img class="detail-img" style="max-width: 100%; height: auto;" src="{{ recipe.image }}">
            <section class="transparent-background">
                <div class="recipe-details centered-section">
                    <span>Serves: {{ recipe.yields }} |</span>
                    <span>Prep Time (min): {{ recipe.prep_time }} |</span>
                    <span>Cook Time (min): {{ recipe.cook_time }}</span>
                </div>
            </section>
        </div>
        <section class="transparent-background">
            <h2>Ingredients:</h2>
            <ul class="ingredients-list">
                {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="transparent-background">
            <h2>Instructions:</h2>
            <p class="preserve-breaks">{{ recipe.instructions }}</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Our Recipe Collection</p>
    </footer>
</body>
</html>